/* Main container */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-family: 'Press Start 2P', monospace;
}

/* Headings */
header {
  font-family: 'Press Start 2P', monospace;
  text-align: center;
  margin-top: 20px;
}
header h1 {
  font-size: 1.5em;
    color: #ff6fff;
}
header p {
  font-size: 1em;
}

.game-container h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.game-container p {
  font-size: 1.1em;
  margin-bottom: 10px;
}

/* Game container */
.game-container {
  margin-top: -100px;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Press Start 2P', monospace;
}

/* Game card */
.game-card {
  width: 300px;
  height: 400px;
  background-color: #1e1e1e;
  border: 2px solid #ff6fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  margin: 10px;
}

/* Game banner */
.game-banner {
  width: 100%;
  height: 100px;
  object-fit: fill;
  border-bottom: 2px solid #ff6fff;
}

/* Game logo */
.game-logo {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  margin-top: 10px;
}

/* Game title */
.game-card h3 {
  margin: 10px 0 5px;
  font-size: 1em;
  color: #ffffff;
}

/* Game description */
.game-card p {
  font-size: 0.6em;
  margin: 10px;
  padding: 0 10px;
  color: #cccccc;
  width: 100%;
}

.tags-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    padding: 10px;
    width: 100%;
    gap: 5px;
}

.tags {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: auto;
    border: #ff6fff 1px solid;
    border-radius: 0 5px;
    padding: 5px;
    text-align: center;
    font-size: 0.6em;
    font-family: system-ui;
   text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    justify-self: start;
    margin-bottom: 10px;
}

/* Play button */
.play-button {
  margin-top: auto;
  padding: 10px 20px;
  font-size: 0.8em;
  background-color: #151515;
  color: #ffffff;
  border: 2px solid #ff6fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s;
  font-family: 'Press Start 2P', monospace;
  text-decoration: none;
  width: 100%;
  text-align: center;
}

.play-button:hover {
  background-color: #e73370;
}

.comingsoon-button a {
  position: relative;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  font-size: 0.8em;
  background-color: #151515;
  color: #ffffff;
  border: 2px solid #ff6fff;
  border-radius: 0 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s;
  font-family: 'Press Start 2P', monospace;
  text-decoration: none;
  width: 100%;
  text-align: center;
}
.comingsoon-button a:hover {
  background-color: #e73370;
}