html, body, * {
    cursor: url('/images/cursor.png'), auto;
}

body {
    font-family: 'Orbitron', 'Exo', 'Oswald', Arial, sans-serif;
    background-color: #1f1f1f;
    margin: 0;
    padding: 0;
    position: relative;
    text-wrap: nowrap;
}

.floater {
  position: absolute;
  width: 42px;
  height: 42px;
  animation: float 8s ease-in-out infinite alternate;
  z-index: 998;
}
@keyframes float {
  0% { transform: translateY(0) rotate(0deg);}
  100% { transform: translateY(-24px) rotate(10deg);}
}

h1 {
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -10px;
    z-index: 999;
    cursor: url('/images/cursor-hover.png'), auto;
}

.gradient-text {
    background: linear-gradient(to right, #9090ff, #a36eff, #ff9aff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    z-index: 999;
}
.gradient-text:hover {
    background: linear-gradient(to right, #ff9aff, #a36eff, #9090ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

img {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 52px;
    height: 52px;
}

a img {
  cursor: url('/images/cursor-hover.png'), auto;
}