.stars {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
}

.starbg {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    opacity: 0.7;
    border-radius: 50%;
    animation: twinkle 2s infinite alternate;
}

@keyframes twinkle {
    to {
        opacity: 0.2;
    }
}
