main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.game-news, .website-news {
  width: 300px;
  height: 150px;
  background-color: #1e1e1e;
  border: 2px solid #ff6fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  margin: 10px;
  margin-bottom: 10%;
}

.game-news h2, .website-news h2 {
  margin: 10px 0 5px;
  font-size: 1em;
  color: #ffffff;
}

.game-news a, .website-news a {
  margin-top: auto;
  padding: 10px 20px;
  font-size: 0.8em;
  background-color: #151515;
  color: #ffffff;
  border: 2px solid #ff6fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.2s;
  font-family: 'Press Start 2P', monospace;
  text-decoration: none;
  width: 80%;
  text-align: center;
}

.game-news a:hover, .website-news a:hover {
  background-color: #e73370;
}

.changelog {
  padding: 20px;
  font-family: 'Press Start 2P', monospace;
  color: white;
}

.release-entry {
  margin-bottom: 30px;
  background: #1e1e1e;
  padding: 15px;
  border-radius: 8px;
  border-left: 4px solid #ff6fff;
}
.release-entry h2 {
  font-size: 1em;
  color: #ff6fff;
}
.release-entry p {
  font-size: 0.8em;
  line-height: 1.5;
}
