.about-links .links {
  position: relative;
  top: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  font-size: 1.5rem;
  color: #333;
  transition: color 0.3s;
  user-select: none;
  align-items: center;
  text-decoration: none;
  transition: transform 0.3s;
  position: relative;
  z-index: 1;
  color: #333;

    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.about-links .links li {
  display: inline-block;
}

.about-links .links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
  border: #cf9fff 2px solid;
}

.about-links .links a:hover {
  background-color: #8000ff;
  color: rgb(255, 255, 255);
  transition: background-color 0.3s, transform 0.3s;
}

.about-links i {
    cursor: url('/images/cursor-hover.png'), auto;
}
.about-links i img {
    height: 25px;
    width: 25px;
}
.mc-img {
  top: 23px;
  right: -12px;
  position: fixed;
  height: 35px;
  width: 35px;
}

.about-text p {
    background: #2d2d2d80;
    border: 1px solid #7f6597;
    padding: 10px;
    color: white;
    position: relative;
    justify-content: center;
    display: flex;
    font-size: 16px;
    font-weight: bold;
}

.about-text {
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    text-wrap: nowrap;
}