/* main.css */
.logoHome {
  height: 100px;
  width: auto;
  margin-bottom: 20px;
  margin-top: -50px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

.subtitleHome {
  font-size: 1em;
  margin: 10px 0;
  color: #aaa;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
}

.cta-btn {
  padding: 12px 24px;
  background: #ff00ff;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: bold;
  box-shadow: 0 0 8px #ff00ff;
}

.section {
  padding: 40px 20px;
  text-align: center;
}

.video-placeholder {
  border: 2px dashed #666;
  padding: 40px;
  margin-top: 20px;
  color: #888;
  font-style: italic;
}

.download-page {
  text-align: center;
  margin-top: 50px;
}

.fake-steam-btn {
  display: inline-block;
  text-align: center;
  background-color: #171a21;
  color: #fff;
  border-radius: 8px;
  padding: 10px;
  margin: 20px auto;
  width: 300px;
  text-decoration: none;
  box-shadow: 0 0 10px #00f6ff;
  transition: background-color 0.3s ease;
}

.fake-steam-btn:hover {
  background-color: #1b2838;
}

.steam-banner {
  width: 100%;
  border-radius: 5px;
}

.steam-text {
  font-size: 1.2em;
  margin-top: 10px;
  font-weight: bold;
}

.note {
  color: #888;
  font-size: 0.9em;
  margin-top: 15px;
}

#game-container {
  position: relative;
}

#game {
  width: 100%;
  height: 100%;
}
