main.gallery-main {
    top: 175px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    max-width: 1000px;
    padding: 32px 16px;
    background: #2d2d2d80;
    border: 1px solid #7f6597;
    position: relative;
    z-index: 2;
    text-align: center;
}

section {
    margin-bottom: 50px;
}

h2.gradient-title {
    font-size: 2.2rem;
    margin-top: 0px;
    background: linear-gradient(to right, #9090ff, #a36eff, #ff9aff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
    text-align: center;
}
h4 {
    color: white;
    font-size: 1rem;
}

.art-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 36px 24px;
    justify-content: center;
    margin-top: 26px;
}

.art-card {
    background: #23233a;
    border-radius: 18px;
    padding: 18px 16px 14px 16px;
    box-shadow: 0 2px 16px #000a;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 140px;
    max-width: 170px;
    transition: transform 0.15s, box-shadow 0.15s;
    position: relative;
    border: 1px solid #7f6597;
}

.art-card:hover {
    transform: scale(1.10);
    z-index: 10;
    cursor: url('/images/cursor-hover.png'), auto;
    -webkit-transform: scale(1.10);
    -moz-transform: scale(1.10);
    -ms-transform: scale(1.10);
    -o-transform: scale(1.10);
}

.art-card img {
    width: 52px;
    height: 52px;
    object-fit: contain;
    margin-bottom: 10px;
    transition: filter 0.2s;
    left: 20%;
    top: 50%;
    cursor: url('/images/cursor-hover.png'), auto;
}


.art-card span {
    color: #e4d3ff;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 0 1px 4px #0006;
    margin-right: -50px;
    cursor: url('/images/cursor-hover.png'), auto;
}

section.gallery-space {
    background: rgba(67, 31, 110, 0.473);
    padding: 25px 16px;
    border-radius: 30%;
    border: 1px solid #7f6597;
    -webkit-border-radius: 30%;
    -moz-border-radius: 30%;
    -ms-border-radius: 30%;
    -o-border-radius: 30%;
}

@media (max-width: 700px) {
    main.gallery-main {
        padding: 16px 2vw;
    }
    .art-grid {
        gap: 16px 7px;
    }
    .art-card {
        min-width: 42vw;
        max-width: 80vw;
    }
    h2.gradient-text {
        font-size: 1.4rem;
    }
}